@mixin  flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centerWithPosition() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}